<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{title}}</h1>
        </div>
    </div>

    <form>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input id="total-amount-cad" class="form-control input-parameter" name="total_amount_cad" type="number" min="0.00" step="0.01" value="0.00" />
                        <span class="input-group-addon">CAD</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="input-group">
                        <select id="num-people" class="form-control input-parameter" name="num_people">
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <span class="input-group-addon">People</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <div id="output">
                <span>$</span>
                <span id="split-cost">0.00</span>
                <span>USD Each</span>
            </div>
        </div>
    </div>
</div>
